{% extends 'expenses/base.html' %}

{% block content %}
    <h2 class="text-center">{{ filter_title|default:"All Expenses" }}</h2>
    <div class="text-center">
        <a href="{% url 'expense_add' %}" class="btn btn-success add-expense-btn">➕ Add Expense</a>
    </div>
    
    <div class="filters text-center">
        <a href="{% url 'expense_list' %}" class="btn btn-primary">All</a>
        <a href="{% url 'expenses_by_category' 'groceries' %}" class="btn btn-info">groceries</a>
        <a href="{% url 'expenses_by_category' 'transportation' %}" class="btn btn-info">transportation</a>
        <a href="{% url 'expenses_by_category' 'education' %}" class="btn btn-info">education</a>
        <a href="{% url 'expenses_by_category' 'travels' %}" class="btn btn-info">travels</a>
        <a href="{% url 'expenses_by_category' 'bills' %}" class="btn btn-info">bills</a>
        <a href="{% url 'expenses_by_category' 'services' %}" class="btn btn-info">services</a>
        <a href="{% url 'expenses_by_category' 'shopping' %}" class="btn btn-info">shopping</a>
        <a href="{% url 'expenses_by_year' 2025 %}" class="btn btn-warning year-filter">2025</a>
        <a href="{% url 'expenses_by_year' 2024 %}" class="btn btn-warning year-filter">2024</a>
    </div>

    <ul class="expense-list">
        {% for expense in expenses %}
            <li class="expense-item">
                <div>
                    <strong>{{ expense.name }}</strong> - {{ expense.amount }} zł 
                    <em>({{ expense.category }})</em> - {{ expense.date }}
                </div>
                <div class="expense-actions">
                    <a href="{% url 'expense_edit' expense.id %}" class="btn btn-warning edit-btn">✏️ Edit</a>
                    <a href="{% url 'expense_delete' expense.id %}" class="btn btn-danger delete-btn">🗑️ Delete</a>
                </div>                
            </li>
        {% empty %}
            <li class="no-expense">Brak wydatków.</li>
        {% endfor %}
    </ul>

    {% if total_amount %}
        <p class="text-center"><strong>Total for {{ filter_title }}:</strong> {{ total_amount }} zł</p>
    {% endif %}
    <a href="{% url 'home' %}" class="btn btn-primary back-home-btn">🏠 Go to homepage</a>

{% endblock %}
